.testborder{border: 1px solid red;}
.nav-item{
	position: relative;
	&:hover{
		.sub-menu{display: block;}
	}
	.sub-menu{
		padding: 10px;
		position: absolute;
		width: 140%;
		background-color: #212629;
		color: #fff;
		display: none;
		top: 50px;
		a{font-size: 12px !important;}
	}
}
.intro-text-small{
	padding-top: 175px !important;
	padding-bottom: 70px !important;
}
.mapcontainer{
	width: 100%;
	min-height: 90vh;
}
.multiple_images{
	width: 100%;
	text-align: center;
	.box{
		width: 31%;
		margin: 6px;
		display: inline-block;
		vertical-align: top;
		img{max-width: 100%;}
	}
}
.portfolio-modal .modal-content{
	padding: 50px 0;
}
.portfolio-modal .close-modal{
	width: 55px;
	height: 35px;
	top: 10px;
	right: 5px;
	.lr{
		height: 30px;
		margin-left: 27px;
		.rl{
			height: 30px;
		}
	}
}

// wew